@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Poppins";
  /* background-image: linear-gradient(to left, #57c9dd77, #BEE2CD); */
  background-color: rgb(119, 119, 119);
  
}

